        <div id="main">
            <aside class="leftAside">
                <h2>Новые лекарства</h2>
                <ul>
                    <li><a href="#">Лекарство 1</a></li>
                    <li><a href="#">Лекарство 2</a></li>
                    <li><a href="#">Лекарство 3</a></li>
                    <li><a href="#">Лекарство 4</a></li>
                </ul>
            </aside>
            <section>
                <c:forEach var="article" items="${articles}">
                <article>
                    <h1>${article.title}</h1>
                    <div class="text-article">
                        ${fn:substring(article.text,0,300)} ...
                    </div>
                    <div class="fotter-article">
                        <span class="read"><a href="article?id=${article.id}">Читать...</a></span>
                        <span class="date-article">Дата выхода: ${article.date}</span>
                    </div>
                </article>
                </c:forEach>
            </section>
        </div>
       
